
<h1>Hello</h1>
<h6><%= link_to 'Create new Category', new_category_path %></h6>
<br>
<thead>
  <th>No.</th>
  <th>Category</th>
  <th>Desc.</th>
</thead>
<br>
<tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.number %></td>
        <td><%= category.note %></td>
        <td><%= category.description %></td>
        <br>
        <td><button><%= link_to 'Show', category_path(category.id) %></button></td>
        <td><button><%= link_to 'Edit', edit_category_path(category.id)%></button></td>
        <td><%= button_to 'Delete', delete_category_path(category.id), method: :delete %></td>
      </tr>
    <% end %>
</tbody>

<%= link_to 'Log out', root_path %>