 <h1> Sign Up </h1>

 <%= form_with model: @user, url: new_user_path do |form| %>

    <div class="mb-3">

      <%= form.label :email, "Email" %>

      <%= form.text_field :email, class: "form-control",

      placeholder: "Enter your email address" %>

    </div>

    <div class="mb-3">

      <%= form.label :username, "Username"%>

      <%= form.text_field :username, class: "form-control",

      placeholder: "Enter your username" %>

    </div>

    <div class="mb-3">

     <%= form.submit "Sign Up", class: "btn btn-primary" %>

    </div>

 <% end %>